<?xml version="1.0" encoding="UTF-8"?>
<web-app >
         
	
    
	<servlet>
	    <servlet-name>OnlineServlet</servlet-name>
	    <servlet-class>recycle.servlet.OnlineServlet</servlet-class>
	</servlet>
	 
	<servlet-mapping>
	    <servlet-name>OnlineServlet</servlet-name>
	    <url-pattern>/onlineServlet</url-pattern>
	</servlet-mapping>

	<servlet>
	    <servlet-name>WithdrawServlet</servlet-name>
	    <servlet-class>recycle.servlet.WithdrawServlet</servlet-class>
	</servlet>
	 
	<servlet-mapping>
	    <servlet-name>WithdrawServlet</servlet-name>
	    <url-pattern>/withdrawServlet</url-pattern>
	</servlet-mapping>

	<servlet>
	    <servlet-name>AreaServlet</servlet-name>
	    <servlet-class>recycle.servlet.AreaServlet</servlet-class>
	</servlet>
	 
	<servlet-mapping>
	    <servlet-name>AreaServlet</servlet-name>
	    <url-pattern>/areaServlet</url-pattern>
	</servlet-mapping>

	<servlet>
	    <servlet-name>RecyclerServlet</servlet-name>
	    <servlet-class>recycle.servlet.RecyclerServlet</servlet-class>
	</servlet>
	 
	<servlet-mapping>
	    <servlet-name>RecyclerServlet</servlet-name>
	    <url-pattern>/recyclerServlet</url-pattern>
	</servlet-mapping>

	
	<servlet>
	    <servlet-name>ForeServlet</servlet-name>
	    <servlet-class>recycle.servlet.ForeServlet</servlet-class>
	</servlet>
	 
	<servlet-mapping>
	    <servlet-name>ForeServlet</servlet-name>
	    <url-pattern>/foreServlet</url-pattern>
	</servlet-mapping>

	
	
	<servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>recycle.servlet.OrderServlet</servlet-class>
    </servlet>
  
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/orderServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>recycle.servlet.UserServlet</servlet-class>
    </servlet>
  
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/userServlet</url-pattern>
    </servlet-mapping>
     
    <servlet>
        <servlet-name>ProductImageServlet</servlet-name>
        <servlet-class>recycle.servlet.ProductImageServlet</servlet-class>
    </servlet>
  
    <servlet-mapping>
        <servlet-name>ProductImageServlet</servlet-name>
        <url-pattern>/productImageServlet</url-pattern>
    </servlet-mapping>
     
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>recycle.servlet.CategoryServlet</servlet-class>
    </servlet>
 
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>recycle.servlet.ProductServlet</servlet-class>
    </servlet>
  
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/productServlet</url-pattern>
    </servlet-mapping>
      
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/categoryServlet</url-pattern>
    </servlet-mapping>
 
    
 
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>recycle.filter.EncodingFilter</filter-class>
    </filter>
  
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>   
     
    <filter>
        <filter-name>BackServletFilter</filter-name>
        <filter-class>recycle.filter.BackServletFilter</filter-class>
    </filter>
  
    <filter-mapping>
        <filter-name>BackServletFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>ForeServletFilter</filter-name>
        <filter-class>recycle.filter.ForeServletFilter</filter-class>
    </filter>
 
    <filter-mapping>
        <filter-name>ForeServletFilter</filter-name>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>        
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
</web-app>